body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1.5fr 1fr;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer"
    ;
}

header{
    padding: 0 20px;
    background: black;
    color: white;
    grid-area: header;
}

h2{
    font-weight: 100;
    font-size: 70px;
    text-transform: uppercase;
    width: 150px;
    word-wrap: break-word;
    margin: 0;
}

p{
    margin: 0 0 .5rem 0;
    font-weight: 100;
    font-size: 20px;
    text-transform: capitalize;
}

main{
    background: white;
    grid-area: main;
    padding: 20px;
}

.section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-template-areas: 
    "content1 content2 content3 content4"
     "content1 content2 content3 content4"
      "content1 content2 content3 content4"
    ;
}

img{ 
    width: 100%;
    margin: 30px 0 0 0;
}

span{
    font-size: 15px;
    font-weight: lighter;
    line-height: 20px;
}

a{
    text-decoration: none;
}

.content1 h3{
    font-weight: 500;
    font-size: 20px;
}

.link-btn{
    margin: 15px 0;
}

.btn-1{
    color: black;
    padding: 5px 7px;
    background: none;
    border: 1px solid black;
    text-transform: capitalize;
}

.btn-2{
    padding: 5px 7px;
    background: black;
    border: 1px solid white;
    color: white;
    text-transform: capitalize;
}

.content1{
    align-self: center;
    margin: 30px 0 0 0;
    grid-area: content1;
}

.content2 img{
    height: 300px;
    margin: 30px 0 10px 0;
}

.content2{
    grid-area: content2;
}

.content3{
    grid-area: content3;
}

.content4{
    margin: 20px 0;
    grid-area: content4;
    text-transform: capitalize;
}

.content4 h2{
    font-weight: 100;
    font-size: 30px;
    padding: 20px 0;
}

.progress{
    margin: 10px 0;
    border: 5px solid #333;
    border-radius: 10px;
}

footer{
    padding: 0 20px;
    color: white;
    background: black;
    grid-area: footer;
}

form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 22rem;
    margin: 0 auto;
}

input{
    background: none;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid white;
}

textarea{
    color: white;
    background: none;
    padding: 30px 10px;
    margin: 10px 0;
    border: 1px solid white;
    resize: none;
}

button{
    background: white;
    padding: 10px;
    margin: 3px 0;
    border: 1px solid black;
    text-transform: uppercase;
}

.modal{
    margin-top: 300px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: 250ms opacity ease-in;
}

.visible{
    opacity: 1;
    pointer-events: auto;
}

.modal_container{
    background: white;
    width: 26rem;
    padding: 1.5rem;
    border-radius: 2px;
}

.modal_container h1{
    text-align: center;
}

.modal_container p{
    font-weight: lighter;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 1.5rem;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    padding: 1rem 0;
}

.modal img{
    height: 400px;
}

.modal_btn{
    display: flex;
    justify-content: flex-end;
}

.modal_footer ul{
    color: white;
    list-style: none;
    font-size: 15px;
    font-weight: 100;
}

@media only screen and (max-width: 1200px){
    .section{
       grid-template-columns:  1fr 1fr;
    grid-template-areas: 
    "content1 content2"
     "content3 content4"
}

@media only screen and (max-width: 800px){
    .section{
       grid-template-columns:  1fr;
    grid-template-areas: 
    "content1"
     "content2"
      "content3"
      "content4"
    ;
    }
    
    footer{
    padding: 0 20px;
    color: white;
    background: black;
    justify-self: center;
    grid-area: footer;
}

form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 15rem;
}
}